/*sales.html*/
#generated-table {
  border: 3px groove black;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-transform: uppercase;
  border: 2px solid grey;
  border-bottom: 4px solid blue;
  text-align: center;
}


td {
  border: 2px solid grey;
  empty-cells: show;
  border-collapse: collapse;
  border-spacing: 0;
}

/*Public-facing page*/
* {
    /*border: 1px solid rgba(0,0,0,0.3);*/
    font-family: helvetica, serif;
    margin:0;
    padding: 20px;
    font-size: 20px;
    line-height: 2em;
    background-color: #f4eddc;
    font-weight: bolder;

  }

#nav, #product, #locations, #the-return-of-our-salmons, #contact-info {
  margin-top: 20px;
  padding: 10px 0px 5px 0px;
  border: 1px solid;
}

  div.title {
    /*position: fixed;*/
    top: 0px;
    left: 0px;
    margin: 0px;
    margin-right: 5px;
    margin-left: 0;
    /*z-index: 10;*/
    width: 96.5%;
    background: (https://github.com/codefellows/seattle-201n8/blob/master/class-06-dom-objects-domain_modeling/assets/salmon.png?raw=true);
    border: 2px solid black;
  }

  div.transbox {
    margin: 0;
    background-color: #ffffff;
    border: 1px solid brown;
    padding: 5px;

  }

  div.transbox p {
    margin: 0;
    padding: 0;
    font-weight: bolder;
    color: 000000;
    font-family: 'Lobster', cursive;
    font-size: 34px;


  }

  #title {
    margin: 0;
    padding: 10px;
    font-weight: bolder;
    color: 000000;
    font-family: 'Indie flower';
    font-size: 26px;
  }

  #patsSalmonCookies {
    font-family: 'Lobster';
    font-size: 25px;
  }

  #coffeeCompanion {
    font-family: Arial;
  }

  #nav {
    /*margin-top: 300px;*/
    line-height: 12px;
  }

  ul {
    padding: 5px;
    list-style-position: inside;
    display: inline;
  }

  ol {
    list-style-position: inside;
    padding: 10px;
    margin: 20px 0px 0px 0px;
    line-height: 5px;
  }

  #pugetSound {
    font-family: 'Indie flower', cursive;
  }

  #ingredients {
    color: green;
    font-style: italic;
  }

  #fourKindsOfCookies {
      font-style: italic;
      font-family: 'Lobster', cursive;
      color: red;
  }

body {
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 20px;
  color: brown;
  font-family: PT Sans;
  width: 1300px;
  text-align: center;
  }

#locations {
    color:purple;
    font-family: 'Overpass', sans-serif;
}

#contact-info {
  color: black;
  font-family: Georgia, sans-serif;
  margin-bottom: 200px;
}
